<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', path='style/base.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', path='style/index.css')}}"> -->
    <script type="module" src="../static/control/utils.js"></script>
    <script type="module" src="../static/control/conponents.js"></script>
    <script type="module" src="../static/control/index.js"></script>
</head>
<body>
<center>
    <label class="title">{{title}} - 主頁</label><br>
    <form id="search_form" method="get">
        <table>
            <tr>
                <td>
                    <details>
                        <summary>書籍種類</summary>
                        <ul id="category_list"></ul>
                    </details>
                </td>
            </tr>
            <tr id="function_bar">
                <td><input class="input-text" type="text" id="search_str" autofocus required></td>
                <td><input class="button" type="submit" value="搜尋"></td>
            </tr>
        </table>
    </form>
    <p id="test"></p>
    <div class="result" id="result">
    </div>
</center>
</body>
</html>