<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', path='style/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='style/login.css')}}"> -->
    <script type="module" src="../static/control/utils.js"></script>
    <script type="module" src="../static/control/login.js"></script>
</head>
<body>
<center>
    <label class="title">{{title}} - 登入</label>
    <table>
        <tr>
            <td><label class="input-label">帳號</label></td>
            <td><input class="input-text" type="text" id="username" autofocus required></td>
            <td class="error_info" id="username_error"></td>
        </tr>
        <tr>
            <td><label class="input-label">密碼</label></td>
            <td><input class="input-text" type="password" id="password" autocomplete="off" required></td>
            <td class="error_info" id="password_error"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="button" type="button" onclick='location.href="http://localhost:8000/register";' value="註冊">
                <input class="button" type="button" id="login" value="登入">
            </td>
        </tr>
    </table>
</center>
</body>
</html>