li.category {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.result_block {
    text-align: center;
}

ol.result_list {
    display: inline-block;
    text-align: left;
    font-size: large;
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 0;
}

li.book_info {
    background-color:cadetblue;
    border-radius: 30px;
    padding: 2rem 4rem 2rem 4rem;
    margin: 1rem;
    cursor: pointer;
}

table.result_table {
    margin-left: auto;
    margin-right: auto;
}

div.cluster {
    font-size: large;
    background-color:aquamarine;
    border: 2px solid aquamarine;
    transition-duration: 0.4s;
    margin: 1rem;
    padding: 4rem;
    cursor: pointer;
    border-radius: 30px;
}

div.cluster:hover {
    background-color: white;
    border: 2px solid aquamarine;
}

label.cluster {
    cursor: pointer;
}


ul li label {
    display: inline-block;
    width: 8rem;
}

details.result summary::marker {
    display: none;
    font-size: 0;
}

summary {
    cursor: pointer;
}

summary.book_category {
    font-size: large;
}

details[open] summary::after {
    transform: rotate(0);
}

div.main {
    padding: 0;
    margin-left: 15%;
}

div.sidebar {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    overflow: auto;
    height: 100%;
}

div.profile {
    font-size: 40px;
    text-align: center;
    padding: 1rem;
}

div.features {
    font-size: 20px;
    text-align: center;
    padding: 1rem;
}